Source: liblxqt
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org>,
           Andrew Lee (李健秋) <ajqlee@debian.org>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 10),
               libqt5svg5-dev,
               libkf5windowsystem-dev,
               libqt5x11extras5-dev,
               libqt5xdg-dev (>= 3.1.0),
               libqt5xdgiconloader-dev (>= 3.1.0),
               libx11-dev,
               libxss-dev,
               lxqt-build-tools (>= 0.4.0)
Standards-Version: 4.1.2
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-lxqt/liblxqt.git
Vcs-Git: https://anonscm.debian.org/git/pkg-lxqt/liblxqt.git
Homepage: https://github.com/lxde/liblxqt

Package: liblxqt0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         desktop-file-utils,
         shared-mime-info
Recommends: liblxqt-l10n
Pre-Depends: ${misc:Pre-Depends}
Description: Shared libraries for LXQt desktop environment (libs)
 LXQt is an advanced, easy-to-use, and fast desktop environment based on Qt
 technologies. It has been tailored for users who value simplicity, speed, and
 an intuitive interface. Unlike most desktop environments, LXQt also works
 fine with less powerful machines.
 .
 This package contains the shared libraries needed by the LXQt desktop
 environment.

Package: liblxqt0-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
         liblxqt0 (= ${binary:Version}),
         libqt5xdg-dev (>= 3.1.0),
         libqt5xdgiconloader-dev (>= 3.1.0),
         lxqt-build-tools (>= 0.4.0)
Description: Shared libraries for LXQt desktop environment (dev)
 LXQt is an advanced, easy-to-use, and fast desktop environment based on Qt
 technologies. It has been tailored for users who value simplicity, speed, and
 an intuitive interface. Unlike most desktop environments, LXQt also works
 fine with less powerful machines.
 .
 This package contain the development files.
